server/node_modules/
server/npm-debug.log

phonegap/node_modules/
phonegap/platforms/ios/build
phonegap/platforms/ios/DerivedData
phonegap/platforms/ios/www

phonegap/platforms/android/bin
phonegap/platforms/android/CordovaLib/bin

uploaded_pictures/**