<ion-view id="page-home">
  <ion-header-bar>
    <h1 class="title">la&nbsp;&nbsp;petite&nbsp;&nbsp;s.</h1>
    <a class="button button-icon icon ion-compose" ui-sref="compose"></a>
  </ion-header-bar>
  <ion-content scroll="false" delegate-handle="homeScroll">
    {{viewIndex}}
    <div class="lpsViewer" ng-class="{
    	'lpViewer-disabled':viewerDisabled,
			'lpsViewer-moving':usingViewer
    }">
			<div class="lpsViewer-item" 
					ng-repeat="thread in threads track by $index" 
					style="{{getItemStyle(thread)}}"
					ng-class="{
						'lpsViewer-current':isCurrent($index),
						'lpsViewer-next':isNext($index)
					}"
					on-touch="onTouch(thread, $event)" 
					on-drag="onDrag(thread, $event)" 
					on-release="onRelease(thread, $event)" 
					>
				<div class="thread">
					<img img-cache ic-src="{{thread.image}}" />
					<div class="seen">
						<i class="icon ion-eye"></i><span class="count">{{thread.seen}}</span>
					</div>
				</div>
			</div>
		</div>

  </ion-content>
</ion-view>
