<ion-view id="page-see">
  <ion-header-bar>
    <a class="button button-icon icon ion-arrow-left-c" ng-click="back()"></a>
  </ion-header-bar>
  
  <ion-content scroll="false">
    
    <div class="thread-wrapper">
      <div class="thread">
  			<img img-cache ic-src="{{thread.image}}"/>
        <div class="seen">
          <i class="icon ion-eye"></i><span class="count">{{thread.seen}}</span>
        </div>
  		</div>
    </div>

    <ion-scroll delegate-handle="seeScroll">
      <div class="thread-placeholder"></div>
      <div class="answers">
        <ion-list>
          <ion-item class="answer" ng-repeat="answer in answers">
            <div class="text">{{answer.text}}</div>
          </ion-item>
        </ion-list>
      </div>
    </ion-scroll>

  </ion-content>

  <ion-footer-bar>
    <form ng-submit="doSendAnswer()" ng-class="{'button-visible':!(answerData.text==undefined || answerData.text=='') }">
      <textarea ng-disabled="sending" ng-model="answerData.text" tagged-autogrow ></textarea>
      <button type="submit" ng-disabled="sending" class="button button-clear button-positive">Publier</button>
    </textarea>
  </ion-footer-bar>

</ion-view>
