

#page-home {
	ion-header-bar {
		a.ion-camera {
			font-size:30px;
		}
	}
}


.threads {

	margin-top:20px;

	.thread {
		position:absolute;
		background-color:transparent;
		opacity:1;
		width:25vw;

		.thread-image {
			@include thread-image();
			width:25vw;
			height:25vw;
			transition:width $materialTime $materialFunction, 
				height $materialTime $materialFunction;

		}
	}

	@for $i from 0 through 20 {

		@keyframes anim_thread_#{$i} {
		  0% {
		  	opacity:0;
		  	transform:translate3d( #{(25vw * ($i%4) - 5vw )} , #{(25vw * ($i/4) - 5vw )} ,0 );
		 	}
		  100% {
		  	opacity:1;
		  	transform:translate3d( #{(25vw * ($i%4) )} , #{(25vw * ($i/4) )} , 0);
		  }
		}
    .ng-enter.index-#{$i} {
    	animation: anim_thread_#{$i} $materialTime;
  		animation-delay:#{$materialAnimationInterval * $i};
			opacity:0;
    }
    .index-#{$i}:not(.ng-enter) {
			transition:all 0s;
    	transform:translate3d( #{(25vw * ($i%4) )} , #{(25vw * ($i/4) )} , 0);
    }
  }

}
