#page-home {
	@include thread();

	.lpsViewer {

		.lpsViewer-item {

			position:absolute;
			display:none;
			pointer-events:none;

			&.lpsViewer-current {
				display:block;
				z-index:10;
				pointer-events:all;
			}
			&.lpsViewer-next {
				display:block;
				z-index:9;
			}
		}

		&.lpsViewer-disabled {
			pointer-events:none;
		}

		&.lpsViewer-moving {
			.lpsViewer-item {
				transition:all 0s;
			}
		}
	}

	.list {
		padding-bottom:0;
	}
}