@headerBgColor: #b9d6e4;
@headerShadowColor: #ffffff;
@headerColor: #383851;
@contentBgColor: transparent;
@headerHeight: 40px;
@headerPaddingTop: 0px;
@mainFont : homizio, 'Helvetica Neue', 'Helvetica', Arial;

@font-face{
    font-family : "homizio";
    src : url('fonts/homizio-light.ttf')  format('truetype'); 
}

html, body, #viewport { 
	background-color:@contentBgColor;
	font-family:@mainFont;
	overflow:hidden;
	height: 100%;
	max-height: 100%;
}

body {
	overflow:scroll;
	background-image:url('../images/clouds.jpg');
	background-size:100% 100%;
	background-repeat:no-repeat;
}

html[data-ios7] {
	#header {
		height:@headerHeight+20;
		h1 {
			top:@headerPaddingTop+20;
		}
		.button {
			top:@headerPaddingTop+20;
			&.text {
				line-height: @headerHeight+30;
			}
			&.publier {
				top:0px;
			}
		}
	}
	#content {
		.page {
			top:@headerHeight+20;
		}
	}
}


#header { 
	height:@headerHeight; 
	width:100%;
	color:@headerColor;
	padding-top:@headerPaddingTop;
	background-color:@headerBgColor;
	position:fixed;
	z-index:9999;
	box-shadow:inset 1px -4px 5px -6px @headerColor;

	.button {

		margin:0px;
		width:40px;
		height:40px;
		position:absolute;
		top:@headerPaddingTop;

		&.back {
			left:0px;
			background-image:url('../images/icon-back.png');
		}

		&.post-thread {
			right:0px;
			background-image:url('../images/icon-post-thread.png');
		}

		&.publier {
			right:0px;
			height:100%;
			color: white;
			text-shadow: 1px 1px 0px black;
			box-shadow:  0px -2px 4px -2px @headerColor;
		}

		&.hidden {
			display:none;
		}

		&.text {
			text-indent:0px;
			line-height: 40px;
			padding: 0 8px;
		}
	} 

	h1 {
		position:absolute;
		width:60%;
		top:@headerPaddingTop;
		left:0;
		text-align:center;
		height:40px	;
		font-size:20px;
		vertical-align: middle;
		line-height: 40px;
		margin-left:20%;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	#scroll-back-to-top-helper {
		position: absolute;	
		width: 60%;
		height: 95%;
		left: 20%;
		z-index: 9999999999999;
		background-color: transparent;
	}
}

#content { 
	background-color:@contentBgColor;

	.page {
		-webkit-transition: all 0.5s, top 0s;
		position: absolute;
		top: @headerHeight;
		left: 0px;
		right: 0px;
		bottom: 0px;
		width: 100%;
		background-color:@contentBgColor;

	}

}

.button {
	width:20px;
	height:20px;
	text-indent:-99999px;
	background-size:20px;
	background-repeat:no-repeat;
	background-position:center center;

	&.hidden {
		display:none;
	}
} 

.form-button {
	display:inline-block;
	border:1px solid green;
	padding:5px 1px;
}

.title-display {
	position:absolute;
	display: block;
	text-align: center;
	height: 20px;
	top: 50%;
	margin-top: -10px;
	width:100%;
	color: white;
	text-shadow: 1px 1px 0px black;
	font-size:18px;
	line-height:20px;
}

.page.home-vc {
	ol {

		&.pullrefresh-slideup,
        &.pullrefresh-loading,
        &.back-to-top {
            -webkit-transition: -webkit-transform .3s;
        }
        &.velocity-scroll {
        	-webkit-transition: -webkit-transform 1s ease;	
        }

		li {
			background-color:#ccc;
			position:relative;

			&:nth-child(even) {
				background-color:#eee;
			}

			h2 {
				.title-display;
			}
		}
	}	
}

.page.thread-vc {
	#thread-title {
		position:relative;
		h2 {
			.title-display;
		}
	}
}

.page.post-thread-vc {
	#input-wrap {
		width:100%;
		position:relative;
		input {
			.title-display;
			
			background-color:transparent;
			border:none;
			box-shadow:none;
			padding:0;

			&::-webkit-input-placeholder {
				color:white;
			}
		}
	}
	.post {
		display:block;
		text-align:center;
		width:100%;
		padding:5px;
		background-color:green;
	}
}
