@font-face {
  font-family: "homizio";
  src: url('fonts/homizio-light.ttf') format('truetype');
}
html,
body,
#viewport {
  background-color: transparent;
  font-family: homizio, 'Helvetica Neue', 'Helvetica', Arial;
  overflow: hidden;
  height: 100%;
  max-height: 100%;
}
body {
  overflow: scroll;
  background-image: url('../images/clouds.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
html[data-ios7] #header {
  height: 60px;
}
html[data-ios7] #header h1 {
  top: 20px;
}
html[data-ios7] #header .button {
  top: 20px;
}
html[data-ios7] #header .button.text {
  line-height: 70px;
}
html[data-ios7] #header .button.publier {
  top: 0px;
}
html[data-ios7] #content .page {
  top: 60px;
}
#header {
  height: 40px;
  width: 100%;
  color: #383851;
  padding-top: 0px;
  background-color: #ffffff;
  position: fixed;
  z-index: 9999;
  box-shadow: inset 1px -4px 5px -6px #383851;
}
#header .button {
  margin: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0px;
}
#header .button.back {
  left: 0px;
  background-image: url('../images/icon-back.png');
}
#header .button.post-thread {
  right: 0px;
  background-image: url('../images/icon-post-thread.png');
}
#header .button.publier {
  right: 0px;
  height: 100%;
  color: white;
  text-shadow: 1px 1px 0px black;
  box-shadow: 0px -2px 4px -2px #383851;
}
#header .button.hidden {
  display: none;
}
#header .button.text {
  text-indent: 0px;
  line-height: 40px;
  padding: 0 8px;
}
#header h1 {
  position: absolute;
  width: 60%;
  top: 0px;
  left: 0;
  text-align: center;
  height: 40px	;
  font-size: 20px;
  vertical-align: middle;
  line-height: 40px;
  margin-left: 20%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#header #scroll-back-to-top-helper {
  position: absolute;
  width: 60%;
  height: 95%;
  left: 20%;
  z-index: 9999999999999;
  background-color: transparent;
}
#content {
  background-color: transparent;
}
#content .page {
  -webkit-transition: all 0.5s, top 0s;
  position: absolute;
  top: 40px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  background-color: transparent;
}
.button {
  width: 20px;
  height: 20px;
  text-indent: -99999px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
}
.button.hidden {
  display: none;
}
.form-button {
  display: inline-block;
  border: 1px solid green;
  padding: 5px 1px;
}
.title-display {
  position: absolute;
  display: block;
  text-align: center;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  width: 100%;
  color: white;
  text-shadow: 1px 1px 0px black;
  font-size: 18px;
  line-height: 20px;
}
.page.home-vc ol.pullrefresh-slideup,
.page.home-vc ol.pullrefresh-loading,
.page.home-vc ol.back-to-top {
  -webkit-transition: -webkit-transform 0.3s;
}
.page.home-vc ol.velocity-scroll {
  -webkit-transition: -webkit-transform 1s ease;
}
.page.home-vc ol li {
  background-color: #ccc;
  position: relative;
}
.page.home-vc ol li:nth-child(even) {
  background-color: #eee;
}
.page.home-vc ol li h2 {
  position: absolute;
  display: block;
  text-align: center;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  width: 100%;
  color: white;
  text-shadow: 1px 1px 0px black;
  font-size: 18px;
  line-height: 20px;
}
.page.thread-vc #thread-title {
  position: relative;
}
.page.thread-vc #thread-title h2 {
  position: absolute;
  display: block;
  text-align: center;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  width: 100%;
  color: white;
  text-shadow: 1px 1px 0px black;
  font-size: 18px;
  line-height: 20px;
}
.page.post-thread-vc #input-wrap {
  width: 100%;
  position: relative;
}
.page.post-thread-vc #input-wrap input {
  position: absolute;
  display: block;
  text-align: center;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  width: 100%;
  color: white;
  text-shadow: 1px 1px 0px black;
  font-size: 18px;
  line-height: 20px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  font-family: homizio, 'Helvetica Neue', 'Helvetica', Arial;
}
.page.post-thread-vc #input-wrap input::-webkit-input-placeholder {
  color: white;
}
.page.post-thread-vc .post {
  display: block;
  text-align: center;
  width: 100%;
  padding: 5px;
  background-color: green;
}
