html,
body,
#viewport {
  background-color: #eeeeee;
  font-family: 'Helvetica Neue', 'Helvetica', Arial;
  overflow: hidden;
  height: 100%;
  max-height: 100%;
}
#header {
  height: 40px;
  width: 100%;
  color: white;
  padding-top: 0px;
  background-color: #2b2b2b;
  position: fixed;
  text-transform: uppercase;
}
#header .button {
  margin: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0px;
}
#header .button.back {
  left: 0px;
  background-image: url('../images/icon-back.png');
}
#header .button.about {
  right: 0px;
  background-image: url('../images/icon-about.png');
}
#header .button.hidden {
  display: none;
}
#header h1 {
  position: absolute;
  width: 80%;
  top: 0px;
  left: 0;
  text-align: center;
  height: 40px	;
  font-size: 20px;
  vertical-align: middle;
  line-height: 40px;
  margin-left: 10%;
}
#content {
  background-color: #eeeeee;
}
#content .page {
  -webkit-transition: all 0.5s;
  position: absolute;
  top: 40px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  background-color: #eeeeee;
}
#footer {
  background-color: #222222;
  color: #eeeeee;
  position: absolute;
  width: 100%;
  bottom: -90px;
  overflow: visible;
}
#footer #menu {
  height: 90px;
  background-color: blue;
}
#footer #menu h3 {
  height: 30px;
}
#footer #menu .button {
  float: left;
}
#footer #menu ol {
  height: 60px;
}
#footer #menu ol li.current {
  color: yellow;
}
#footer #menu.shown {
  -webkit-transform: translateY(-90px);
}
.button {
  width: 20px;
  height: 20px;
  text-indent: -99999px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
}
.button.hidden {
  display: none;
}
.form-button {
  display: inline-block;
  border: 1px solid green;
  padding: 5px 1px;
}
.page.home-vc ul {
  height: 100%;
}
.page.home-vc ul li {
  display: block;
  float: left;
  width: 33%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}
.page.home-vc ul li#to-catalogue {
  background-image: url('../images/bg-catalogue.png');
}
.page.home-vc ul li#to-placement3d {
  background-image: url('../images/bg-placement3d.jpg');
}
.page.home-vc ul li#to-devis {
  background-image: url('../images/bg-devis.jpg');
}
.page.home-vc ul li:last-child {
  width: 34%;
}
.page.home-vc ul li label {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  background-color: #000000;
  display: block;
  color: white;
}
.page.placement3d-vc {
  background-image: url('../images/placement3d-default-background.png');
  background-repeat: repeat;
  background-size: inherit;
}
.page.placement3d-vc #conteneur-3d {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.page.placement3d-vc #conteneur-3d canvas {
  width: 100%;
  height: 100%;
}
.page.placement3d-vc #controls-3d {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #787878;
}
.page.placement3d-vc #controls-3d .button {
  width: 40px;
  height: 40px;
  padding: 10px;
  background-size: 40px;
  border-bottom: 1px solid #ababab;
}
.page.placement3d-vc #controls-3d .button:last-child {
  border-bottom: 0px;
}
.page.placement3d-vc #controls-3d .button.camera {
  background-image: url('../images/icon-camera.png');
}
.page.placement3d-vc #controls-3d .button.change-model {
  background-image: url('../images/icon-model.png');
  position: relative;
}
.page.placement3d-vc #controls-3d .button.change-model #models {
  position: absolute;
  top: 0;
  width: 200px;
  left: 60px;
  background-color: #919191;
  text-indent: 0px;
  color: white;
  -webkit-transition: opacity 0.5s linear, -webkit-transform 0.3s;
  -webkit-transform: translateX(-300px);
  opacity: 0;
}
.page.placement3d-vc #controls-3d .button.change-model #models.shown {
  opacity: 1;
  -webkit-transform: translateX(0px);
}
.page.placement3d-vc #controls-3d .button.change-model #models li {
  padding: 7px 15px;
}
.page.placement3d-vc #controls-3d .button.change-model #models li:not(:last-child) {
  border-bottom: 1px solid #ababab;
}
.page.placement3d-vc #controls-3d .button.help {
  background-image: url('../images/icon-help.png');
}
.page.placement3d-vc #controls-3d .button.help #help-content {
  display: none;
  position: fixed;
  width: 200px;
  height: 130px;
  padding: 20px;
  top: 50%;
  left: 50%;
  margin-left: -110px;
  margin-top: -75px;
  background-color: white;
  color: #2b2b2b;
  text-indent: 0px;
}
.page.placement3d-vc #controls-3d .button.help #help-content.shown {
  display: block;
}
.page.placement3d-vc #controls-3d .button.help #help-content p {
  margin-bottom: 10px;
}
.page.catalogue-vc ul {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  -webkit-transform-style: preserve-3d;
}
.page.catalogue-vc ul.animate {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.page.catalogue-vc ul li {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.page.catalogue-vc ul li.page01 {
  background-image: url('../images/catalogue-01.jpg');
}
.page.catalogue-vc ul li.page02 {
  background-image: url('../images/catalogue-02.jpg');
}
.page.catalogue-vc ul li.page03 {
  background-image: url('../images/catalogue-03.jpg');
}
.page.catalogue-vc ul li.page04 {
  background-image: url('../images/catalogue-04.jpg');
}
.page.about-vc {
  text-align: center;
}
.page.about-vc h1,
.page.about-vc h2 {
  margin-top: 20px;
}
.page.about-vc img {
  margin-top: 150px;
}
