@import "scrollbar.css";

@import "reset.css";

@import "fonts.css";
/* iScroll 5 scrollbar styles */
/* user agent css reset */
html,
body,
#viewport {
  background-color: #333333;
  font-family: homizio, 'Helvetica Neue', 'Helvetica', Arial;
  overflow: hidden;
  height: 100%;
  max-height: 100%;
}
body {
  overflow: scroll;
}
#header {
  height: 60px;
  width: 100%;
  color: #333333;
  padding-top: 0px;
  background-color: #ffffff;
  position: fixed;
  z-index: 9999;
  box-shadow: inset 1px -4px 5px -6px #333333;
  -webkit-transition: background-color linear 0.5s, color linear 0.5s, -webkit-transform linear 0.8s;
  -webkit-transition-delay: 0.1s;
}
#header.transparent {
  color: #3d3d3d;
  background-color: transparent;
}
#header.gone-up {
  -webkit-transform: translateY(-100px);
}
#header .button {
  margin: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0px;
}
#header .button.back {
  left: 0px;
  background-image: url('../images/icon-back.png');
}
#header .button.close {
  left: 0px;
  background-image: url('../images/icon-close.png');
}
#header .button.post-thread {
  right: 0px;
  background-image: url('../images/icon-post-thread.png');
}
#header .button.report {
  right: 0px;
  background-image: url('../images/icon-report.png');
}
#header .button.pseudonym {
  left: 0px;
  background-image: url('../images/icon-user.png');
}
#header .button.publier {
  width: 60px;
  right: 0px;
  height: 100%;
  color: white;
  text-shadow: 1px 1px 0px black;
  box-shadow: 0px -2px 4px -2px #333333;
  background-size: 100% 100%;
  padding: 0px;
  text-align: center;
}
#header .button.publier.loading {
  opacity: 0.5;
}
#header .button.hidden {
  display: none;
}
#header .button.text {
  text-indent: 0px;
  line-height: 40px;
  padding: 0 8px;
}
#header h1 {
  position: absolute;
  width: 60%;
  top: 0px;
  left: 0;
  text-align: center;
  height: 40px	;
  vertical-align: middle;
  line-height: 40px;
  margin-left: 20%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: 'birds';
  font-size: 30px;
}
#header h1.main-title {
  font-style: italic;
}
#header #scroll-back-to-top-helper {
  position: absolute;
  width: 60%;
  height: 95%;
  left: 20%;
  z-index: 9999999999999;
  background-color: transparent;
}
#content {
  background-color: #333333;
}
#content .page {
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 0.5s, top 0s;
  position: absolute;
  top: 60px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 90;
}
#content .page.no-header {
  top: 0px;
}
#content .page.slide .scroll-wrap .pull-to-refresh {
  display: none;
}
#content .page .scroll-wrap {
  height: 100%;
  overflow: hidden;
}
#content .page .scroll-wrap .pull-to-refresh {
  position: absolute;
  top: -80px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 24px;
  height: 80px;
  line-height: 80px;
}
#content .page .scroll-wrap.pullrefresh-slideup,
#content .page .scroll-wrap.pullrefresh-loading,
#content .page .scroll-wrap.back-to-top {
  -webkit-transition: -webkit-transform 0.3s;
}
#content .page .scroll-wrap.velocity-scroll {
  -webkit-transition: -webkit-transform 1s ease;
}
#push {
  position: fixed;
  top: 0;
  color: #333333;
  padding-top: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 99999999999;
  right: 0px;
  left: 0px;
}
#push div {
  margin: 30px;
}
.button {
  width: 20px;
  height: 20px;
  text-indent: -99999px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
}
.button.hidden {
  display: none;
}
.form-button {
  display: inline-block;
  border: 1px solid green;
  padding: 5px 1px;
}
.title-display {
  vertical-align: middle;
  display: inline-block;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  color: white;
  text-shadow: 1px 1px 0px black;
  background-size: contain;
}
.item-display {
  background-color: transparent;
}
.item-display .normal-image {
  background-size: contain;
}
.item-display .normal-image h2 {
  vertical-align: middle;
  display: inline-block;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  color: white;
  text-shadow: 1px 1px 0px black;
  background-size: contain;
}
.item-display .normal-image .count-wrap {
  display: none;
}
/* phonestrap stuff */
@-webkit-keyframes slideinfromright {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0%, 0, 0);
  }
}
@-webkit-keyframes slideinfromleft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0%, 0, 0);
  }
}
@-webkit-keyframes slideinfrombottom {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0%, 0);
  }
}
@-webkit-keyframes slideouttolefteasy {
  from {
    -webkit-transform: translate3d(0%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-100%, 0, 0);
    opacity: 0.5;
  }
}
@-webkit-keyframes slideouttotopeasy {
  from {
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, -100%, 0);
    opacity: 0.5;
  }
}
@-webkit-keyframes slideouttobottomeasy {
  from {
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 100%, 0);
    opacity: 0.5;
  }
}
@-webkit-keyframes slideouttorighteasy {
  from {
    -webkit-transform: translate3d(0%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
    opacity: 0.5;
  }
}
@-webkit-keyframes showbutton {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0%, 0);
  }
}
@-webkit-keyframes hidebutton {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0%, 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
  }
}
#menu {
  -webkit-transition-duration: 0.3s;
}
.slide.in {
  -webkit-animation: slideinfromright 0.5s;
}
.slide.in.left {
  -webkit-animation: slideinfromleft 0.5s;
}
.slide.out.easy {
  -webkit-animation: slideouttolefteasy 0.5s;
}
.slide.out.easy.right {
  -webkit-animation: slideouttorighteasy 0.5s;
}
.slide.up.easy {
  -webkit-animation: slideouttotopeasy 0.5s;
}
.slide.down.easy {
  -webkit-animation: slideouttobottomeasy 0.5s;
}
.slide.in.bottom {
  -webkit-animation: slideinfrombottom 0.5s;
}
.hidebuttonanim {
  position: absolute;
  -webkit-animation: hidebutton 0.3s ease;
}
.showbuttonanim {
  -webkit-animation: showbutton 0.3s ease;
}
/* zoom in */
@-webkit-keyframes hide_zoomin {
  to {
    -webkit-transform: scale(2);
    opacity: 0;
  }
}
.hide.zoomin {
  -webkit-animation: hide_zoomin 0.5s;
}
@-webkit-keyframes show_zoomin {
  from {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }
  to {
    -webkit-transform: scale(1);
  }
}
.show.zoomin {
  -webkit-animation: show_zoomin 0.5s;
}
/* zoom out */
@-webkit-keyframes hide_zoomout {
  to {
    -webkit-transform: scale(0.5);
    opacity: 0;
  }
}
.hide.zoomout {
  -webkit-animation: hide_zoomout 0.5s;
}
@-webkit-keyframes show_zoomout {
  from {
    opacity: 0;
    -webkit-transform: scale(2);
  }
  to {
    -webkit-transform: scale(1);
  }
}
.show.zoomout {
  -webkit-animation: show_zoomout 0.5s;
}
/* page transitions */
/* app fonts */
#content .page.home-vc ol {
  -webkit-transform-style: preserve-3d;
}
#content .page.home-vc ol li {
  background-color: #ccc;
  position: relative;
  background-size: contain;
  -webkit-animation: all 0.5s ease-in-out;
  /*
			h2 {
				.title-display;
			}*/

  background-color: transparent;
}
#content .page.home-vc ol li .normal-image {
  background-size: contain;
}
#content .page.home-vc ol li .normal-image h2 {
  vertical-align: middle;
  display: inline-block;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  color: white;
  text-shadow: 1px 1px 0px black;
  background-size: contain;
}
#content .page.home-vc ol li .normal-image .count-wrap {
  display: none;
}
#content .page.home-vc ol li .normal-image .count-wrap {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0px;
  display: inline-block;
  line-height: 40px;
  height: 40px;
  right: 0px;
  overflow: hidden;
}
#content .page.home-vc ol li .normal-image .count-wrap .blur-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(3px);
  filter: blur(3px);
  background-size: 100%;
  background-position-y: 100%;
}
#content .page.home-vc ol li .normal-image .count-wrap .the-count {
  font-family: homizio, 'Helvetica Neue', 'Helvetica', Arial;
  color: white;
  line-height: 40px;
  padding: 0 20px;
  position: absolute;
  z-index: 2;
  font-size: 14px;
}
#content .page.home-vc ol li .normal-image .count-wrap .the-index {
  font-family: homizio, 'Helvetica Neue', 'Helvetica', Arial;
  color: white;
  line-height: 40px;
  padding: 0 20px;
  position: absolute;
  right: 0px;
  z-index: 2;
  font-size: 14px;
}
#content .page.thread-vc {
  bottom: 37px;
}
#content .page.thread-vc #thread-title {
  position: absolute;
  width: 100%;
  /*
		h2 {
			.title-display;
		}*/

  background-color: transparent;
}
#content .page.thread-vc #thread-title div {
  background-size: contain;
}
#content .page.thread-vc #thread-title .normal-image {
  background-size: contain;
}
#content .page.thread-vc #thread-title .normal-image h2 {
  vertical-align: middle;
  display: inline-block;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  color: white;
  text-shadow: 1px 1px 0px black;
  background-size: contain;
}
#content .page.thread-vc #thread-title .normal-image .count-wrap {
  display: none;
}
#content .page.thread-vc .post-comment-placeholder {
  height: 37px;
}
#content .page.thread-vc #post-comment {
  position: absolute;
  bottom: -37px;
  width: 100%;
  height: 37px;
}
#content .page.thread-vc #post-comment .post-comment-wrap {
  height: 37px;
}
#content .page.thread-vc #post-comment .post-comment-wrap .input-wrap {
  width: 80%;
  float: left;
  height: 100%;
  background-color: #ffffff;
}
#content .page.thread-vc #post-comment .post-comment-wrap .input-wrap input {
  margin: 0;
  border: 0;
  border-radius: 0;
  width: 94%;
  height: 100%;
  padding: 0 3%;
  line-height: 25px;
  font-size: 13px;
  color: #333333;
  font-family: 'Helvetica';
}
#content .page.thread-vc #post-comment .post-comment-wrap a {
  float: right;
  display: block;
  width: 20%;
  height: 100%;
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  font-family: 'birds';
  line-height: 37px;
}
#content .page.thread-vc #post-comment .noPostCommentForYou {
  text-align: center;
  color: #333;
  background-color: white;
  font-size: 80%;
  height: 100%;
  line-height: 17px;
}
#content .page.thread-vc #thread-comments ol li {
  padding: 1.5em 1.2em;
  margin: 1.1em;
  font-family: 'homizio';
  font-size: 16px;
  color: #ffffff;
  background-color: #333333;
  position: relative;
  display: inline-block;
}
#content .page.thread-vc #thread-comments ol li .id {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 13px;
  color: #eee;
  text-transform: uppercase;
}
#content .page.thread-vc #thread-comments ol li .loading:before {
  color: #fff;
  content: ". . . ";
}
#content .page.thread-vc #thread-comments ol li span {
  background-color: #333333;
  padding: .2em;
  display: inline;
  line-height: 1.3em;
}
#content .page.post-thread-vc #input-wrap {
  width: 100%;
  position: relative;
  background-size: contain;
}
#content .page.post-thread-vc #input-wrap [contentEditable] {
  vertical-align: middle;
  display: inline-block;
  line-height: 1.2;
  width: 100%;
  text-shadow: 1px 1px 0px black;
  background-size: contain;
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  font-family: homizio, 'Helvetica Neue', 'Helvetica', Arial;
  -webkit-touch-callout: initial;
  -webkit-text-size-adjust: initial;
  -webkit-user-select: initial;
  text-align: center;
  color: white;
}
#content .page.post-thread-vc #input-wrap .upload-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0px;
  width: 0px;
  background-color: #fff;
  opacity: 0.5;
  -webkit-transition: width .1s linear;
  -webkit-transition: opacity .5s linear;
}
#content .page.post-thread-vc .post {
  display: block;
  text-align: center;
  width: 100%;
  padding: 5px;
  background-color: green;
}
#content .page.post-thread-vc #controls-wrap {
  position: relative;
}
#content .page.post-thread-vc #controls-wrap #control-hint {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  top: 40px;
  background-color: #b3b3b3;
  -webkit-transition: all .3s;
  opacity: 0;
}
#content .page.post-thread-vc #controls-wrap #control-hint.ready {
  opacity: 1;
}
#content .page.post-thread-vc #controls-wrap #controls {
  width: 100%;
  margin-top: 16.666px;
}
#content .page.post-thread-vc #controls-wrap #controls li {
  width: 33%;
  height: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}
#content .page.post-thread-vc #controls-wrap #controls li.picture {
  background-image: url('../images/icon-picture.png');
}
#content .page.post-thread-vc #controls-wrap #controls li.bgcolor {
  background-image: url('../images/icon-bgcolor.png');
}
#content .page.post-thread-vc #controls-wrap #controls li.police {
  background-image: url('../images/icon-police.png');
}
#content .page.banned-vc h4 {
  color: white;
  text-align: center;
  margin: 2em 0;
  font-size: 2em;
}
#content .page.eula-vc {
  color: white;
  opacity: 0;
  -webkit-transform: translateY(-100px);
}
#content .page.eula-vc.ready {
  opacity: 1;
  -webkit-transform: translateY(0px);
}
@-webkit-keyframes banderolle {
  0% {
    -webkit-transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(-2300px);
  }
  100% {
    -webkit-transform: translateX(0px);
  }
}
#content .page.eula-vc #banderolle {
  position: absolute;
  top: 0px;
  width: 3197px;
  left: -180px;
  background-image: url('../images/banderolle.png');
  background-repeat: repeat-x;
  background-size: contain;
  height: 160px;
}
#content .page.eula-vc #banderolle.animate {
  -webkit-animation-name: banderolle;
  -webkit-animation-duration: 140s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
}
@media screen and (max-height: 480px) {
  #content .page.eula-vc #banderolle {
    height: 80px;
  }
}
#content .page.eula-vc .pane-container {
  -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  position: relative;
  height: 100%;
}
#content .page.eula-vc .pane-container .pane {
  float: left;
  display: inline-block;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0);
  padding-top: 160px;
}
@media screen and (max-height: 480px) {
  #content .page.eula-vc .pane-container .pane {
    padding-top: 80px;
  }
}
#content .page.eula-vc .pane-container .pane .pane-inside {
  color: white;
  padding: 0.8em;
  font-size: 1.8em;
  line-height: 1.2em;
  text-align: center;
}
#content .page.eula-vc .pane-container .pane .pane-inside em {
  font-family: 'birds';
  color: #eee;
  font-size: 1.8em;
  display: block;
  margin-bottom: 25px;
}
#content .page.eula-vc .pane-container .pane .pane-inside i {
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 20px 0;
  display: block;
}
#content .page.eula-vc .pane-container .pane .pane-inside ul {
  font-family: 'birds';
  margin-left: 20px;
  text-align: left;
}
#content .page.eula-vc .pane-container .pane .pane-inside ul li {
  font-size: 0.7em;
  list-style-type: square;
}
#content .page.eula-vc .pane-container .pane .pane-inside ol {
  margin-left: 20px;
  margin-top: 10px;
}
#content .page.eula-vc .pane-container .pane .pane-inside ol li {
  font-size: 0.6em;
  line-height: 1.1em;
  margin: 0.2em 0;
  list-style-type: decimal;
  text-align: left;
}
#content .page.eula-vc .pane-container .pane .pane-inside strong {
  font-size: 1.3em;
  font-weight: bold;
}
#content .page.eula-vc .pane-container .pane .pane-inside .button {
  -webkit-transition: all .3s .8s;
  width: 80%;
  height: auto;
  text-indent: 0;
  background-color: white;
  box-shadow: inset 1px -4px 5px -6px #333333;
  display: inline-block;
  margin-top: 20px;
  color: #333;
}
#content .page.eula-vc .pane-container .pane .pane-inside .button.disabled {
  color: #aaa;
  background-color: #eee;
}
#content .page.pseudonym-vc {
  background-color: #333;
  color: white;
  text-align: center;
}
#content .page.pseudonym-vc h4 {
  margin-top: 0.8em;
  margin-bottom: 2em;
  font-size: 2em;
}
#content .page.pseudonym-vc p {
  padding: 0 10px;
}
#content .page.pseudonym-vc p strong {
  display: block;
  margin-bottom: 10px;
  font-size: 1.3em;
}
#content .page.pseudonym-vc .form {
  margin: 20px 0;
}
#content .page.pseudonym-vc .form input {
  margin: 0;
  border: 0;
  border-radius: 3px;
  padding: 0 3%;
  line-height: 25px;
  font-size: 13px;
  color: #333333;
  font-family: 'Helvetica';
  border: 1px solid #333;
}
#content .page.pseudonym-vc .form .button {
  -webkit-transition: all .3s .8s;
  width: 80%;
  height: auto;
  text-indent: 0;
  background-color: white;
  box-shadow: inset 1px -4px 5px -6px #333333;
  display: inline-block;
  margin-top: 20px;
  color: #333;
  font-size: 1.8em;
  line-height: 1.2em;
}
#content .page.pseudonym-vc.light {
  color: #333;
}
#content .page.pseudonym-vc.light .button {
  color: white;
  background-color: #333;
}
#easter {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0;
  text-align: center;
  height: 40px	;
  vertical-align: middle;
  line-height: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: 'birds';
  font-size: 30px;
  color: #3d3d3d;
  z-index: 0;
}
#cache-images {
  position: absolute;
  left: -999999px;
  top: -999999px;
}
#cache-images img {
  display: block;
}
